
node_modules

build/
dist/

.vite/
.vitepress/
.eslintcache
.npm/
coverage/
jest/
cypress/
cypress/screenshots/
cypress/videos/
reports/

*.env*
*.log

npm-debug.log*


.git/
.gitignore
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml